<!-- <ul>
    <li><a routerLink="/admin">Dashboard</a></li>
    <li><a routerLink="customers">Customers</a></li>
    <li><a routerLink="products">Products</a></li>
    <li><a routerLink="orders">Orders</a></li>
    <li><a routerLink="">HomePage</a></li>
</ul> -->

<mat-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin">Dashboard</a>
    <a mat-list-item role="listitem" routerLink="customers">Customers</a>
    <a mat-list-item role="listitem" routerLink="products">Products</a>
    <a mat-list-item role="listitem" routerLink="orders">Orders</a>
    <a mat-list-item role="listitem" routerLink="">HomePage</a>
  </mat-list>
  