<div class="center">
    <div style="position: relative; cursor: pointer;">
        <ngx-file-drop dropZoneLabel="Drop files here" [accept]="options.accept" (onFileDrop)="selectedFiles($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <div (click)="uploadButton.click()" style="width: 100%; height: 100%;"></div>
              <button type="button" #uploadButton style="display: yes;" (click)="openFileSelector()">Seç</button>
            </ng-template>
        </ngx-file-drop>
        
    </div>
   
    <div class="upload-table" *ngIf ="files">
        <table class="table">
            <thead>
                <tr>
                    <th>Seçilenler</th>   
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>